<title>Error</title>

<div class="status-container">
  <div class="status">
    <img src="/images/failed.svg" class="status-image">
    <p class="status-message">
      Error! Find more info in browser console and <a href="https://docs.adyen.com/development-resources/response-handling">this page</a></p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>

