<title>Failed</title>

<div class="status-container">
  <div class="status">
    <img src="/images/failed.svg" class="status-image">
    <p class="status-message">Payment was refused. Please try again.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>

