<title>Success</title>

<div class="status-container">
  <div class="status">
    <img src="/images/success.svg" class="status-image">
    <img src="/images/thank-you.svg" class="status-image">
    <p class="status-message">Your order has been placed.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>

